<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col  sizeLg="6" sizeMd="4" sizeXs="4">
        <div class="texto">Texto1</div> 
      </ion-col>
      <ion-col  sizeLg="6" sizeMd="4" sizeXs="4">
        <div class="texto">Texto2</div> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  sizeLg="9" sizeMd="4" sizeXs="4">
        <div class="texto">Texto3</div> 
      </ion-col>
      <ion-col  sizeLg="3" sizeMd="4" sizeXs="4">
        <div class="texto">Texto4</div> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
